@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: inline-block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

/* @media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Poppins, "Times New Roman", sans-serif;
  font-size: 14px;
  color: #362f2f;
}

/*---------------------------------------------------*/

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*---------------------------------------------------*/

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.header__contacts > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-item {
  margin: 0 35px 0 0;
}

.header__contact > a {
  text-decoration: none;
  color: #6A983C;
}

.header__item-link {
  list-style-type: none;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.header__item-link > a {
  text-decoration: none;
  color: #6A983C;
}

.header__item-link:not(:last-child) {
  margin: 0 35px 0 0;
}

.header__menu {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  padding: 10px 16px;
  background: #F9F9F9;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
}

.header__search-select {
  background: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 40px;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/down.svg") no-repeat 86%;
  cursor: pointer;
}

.header__search-input {
  background: none;
  border: none;
  width: 260px;
  padding: 0 15px 0 24px;
  border-left: 1px solid #D1D1D1;
  outline: none;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.header__search-img {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  cursor: pointer;
}

.header__user {
  margin-right: 40px;
}

.header__bascet {
  text-decoration: none;
  color: #FFF;
  position: relative;
}

.header__bascet > .bascet__span {
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: #E6704B;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  left: -5px;
}

.nav {
  background: #F9F9F9;
}

.nav__select {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
}

.nav__item {
  position: relative;
  height: 23px;
  margin-right: 40px;
}

.nav__item.is-active .select__body {
  opacity: 1;
}

.nav .select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .select__current {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.nav .select__icon {
  height: 12px;
  width: 12px;
  margin: 5.5px 2px;
}

.nav .select__body {
  border: 1px solid #6A983C;
  background: #F9F9F9;
  border-top: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  left: 0;
  position: absolute;
  width: 110%;
  right: 0;
  top: 170%;
}

.nav .select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.nav .select__item:hover {
  background-color: #f2f2f2;
}

/* main------------------------------------------ */

.main__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 34px 0 66px 0;
}

.main__categoria {
  width: 186px;
  margin-bottom: 30px;
}

.main__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.main__title_h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.main__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 31px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links__item-link {
  margin-bottom: 12px;
}

.links__item-link > a {
  color: #6A983C;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
}

.links__button {
  display: inline-block;
  margin-top: 32px;
  padding: 12.5px 38px 12.5px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  background: #F5F5F5 url("../img/ic-chevron-right.svg") no-repeat 90%;
}

.banner__item {
  width: 420px;
  height: 280px;
  background: url("../img/Rectangle 26.png");
  border-radius: 12px;
  position: relative;
}

.banner__sub-text_green {
  margin: 48px 0 8px 33px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.banner__title {
  margin-left: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.banner__button {
  position: absolute;
  left: 32px;
  bottom: 32px;
  padding: 12px 38px 12px 16px;
  border: 2px solid #92C064;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #151515;
  background: url("../img/ic-chevron-right-green.svg") no-repeat 90%;
}

.product__item {
  width: 269px;
  height: 323px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  position: relative;
}

.product__img {
  height: 180px;
  width: 237px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.product__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
}

.product__sub-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__button {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #FFF;
  background: #6A983C;
  padding: 6.5px 12px;
  border-radius: 12px;
  border: 2px solid #46760A;
}

.current__percent {
  position: absolute;
  left: 28px;
  top: 28px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  border-radius: 12px;
  background: #F4F8EC;
}

.current__old {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  text-decoration: line-through;
}

/* footer------------------------------------------ */

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 64px;
  margin-bottom: 48px;
}

.footer__tags {
  margin-bottom: 32px;
}

.footer__copyright {
  margin-bottom: 64px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__item:not(:first-child, :last-child) {
  margin: 0 15px;
}

.footer__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  color: #151515;
}

.footer__text {
  display: inline-block;
  padding: 4px 10px;
  background: #F5F5F5;
  border-radius: 12px;
  margin: 0 16px 16px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.footer__text_green {
  margin-bottom: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.webp .banner__item{ background: url("../img/Rectangle 26.png"); }