@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: inline-block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

/* @media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Poppins, "Times New Roman", sans-serif;
  font-size: 14px;
  color: #362f2f;
  background: #F9F9F9;
  color: #151515;
}

/*---------------------------------------------------*/

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/*---------------------------------------------------*/

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.header__contacts > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  gap: 2vw;
}

.header__contact > a {
  text-decoration: none;
  color: #6A983C;
}

.header__link {
  gap: 2.5vw;
}

.header__item-link {
  list-style-type: none;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.header__item-link > a {
  text-decoration: none;
  color: #6A983C;
}

.header__menu {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  padding: 10px 16px;
  background: #F9F9F9;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
}

.header__search-select {
  background: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 40px;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/down.svg") no-repeat 86%;
  cursor: pointer;
}

.header__input-body {
  display: inline-block;
}

.header__search-input {
  background: none;
  border: none;
  width: 260px;
  padding: 0 15px 0 24px;
  border-left: 1px solid #D1D1D1;
  outline: none;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.header__search-img {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  cursor: pointer;
}

.header__user {
  margin-right: 40px;
}

.header__bascet {
  text-decoration: none;
  color: #FFF;
  position: relative;
}

.header__bascet > .bascet__span {
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: #E6704B;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  left: -5px;
}

.nav__container {
  background: #F9F9F9;
}

.nav__select {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 55px;
}

.nav__item {
  position: relative;
  height: 23px;
  margin-right: 40px;
  white-space: nowrap;
}

.nav__item.is-active .select__body {
  display: block;
}

.nav .select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .select__current {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.nav .select__icon {
  height: 12px;
  width: 12px;
  margin: 2px 2px;
}

.nav .select__body {
  border: 1px solid #6A983C;
  background: #F9F9F9;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  width: 110%;
  right: 0;
  top: 170%;
  z-index: 10;
}

.nav .select__item {
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  text-decoration: none;
  color: #151515;
}

.nav .select__item:hover {
  background-color: #f2f2f2;
}

.header__burger > div {
  height: 50px;
  width: 100%;
  display: none;
}

.burger > div {
  /* display: flex; */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  position: relative;
  z-index: 60;
}

.burger__center {
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background: #cfcfcf;
  position: relative;
}

.burger__center::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background: #cfcfcf;
}

.burger__center::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background: #cfcfcf;
}

/* adaptive--------------------------------------- */

/* main------------------------------------------ */

.main__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 64px 0;
}

.main__categoria {
  width: 186px;
  margin-bottom: 30px;
}

.main__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.main__title_h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.main__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 31px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links__item-link {
  margin-bottom: 12px;
}

.links__item-link > a {
  color: #6A983C;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
}

.links__button {
  display: inline-block;
  margin-top: 32px;
  padding: 12.5px 38px 12.5px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  background: #F5F5F5 url("../img/ic-chevron-right.svg") no-repeat 90%;
}

.banner__item {
  width: 420px;
  height: 280px;
  background: url("../img/Rectangle 26.png");
  border-radius: 12px;
  position: relative;
}

.banner__sub-text_green {
  margin: 48px 0 8px 33px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.banner__title {
  margin-left: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.banner__button {
  position: absolute;
  left: 32px;
  bottom: 32px;
  padding: 12px 38px 12px 16px;
  border: 2px solid #92C064;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #151515;
  background: url("../img/ic-chevron-right-green.svg") no-repeat 90%;
}

.product__item {
  width: 269px;
  height: 323px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  position: relative;
}

.product__img {
  height: 180px;
  width: 237px;
  border-radius: 12px;
  margin-bottom: 7px;
}

.product__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
}

.product__sub-text {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__button {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #FFF;
  background: #6A983C;
  padding: 6.5px 12px;
  border-radius: 12px;
  border: 2px solid #46760A;
}

.current__percent {
  position: absolute;
  left: 28px;
  top: 28px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  border-radius: 12px;
  background: #F4F8EC;
}

.current__old {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  text-decoration: line-through;
}

.main__container {
  width: 1260px;
}

.main__blocks_noFlex {
  display: block;
  border-top: 1px solid #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}

.main__blocks_noFlex-noB {
  display: block;
  border-top: 0;
  border-bottom: 0;
}

.main__our {
  margin: 0 0 41px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title_h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
}

.main__button_back-none {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 6px 34px 6px 12px;
  background: url("../img/ic-chevron-right-green.svg") no-repeat 90%;
}

.main__rows .rows__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  min-height: 220px;
  overflow: hidden;
}

.our__container {
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.rows {
  position: relative;
}

.rows__container {
  padding: 0;
}

.rows__strelka {
  background: #151515;
  border-radius: 0 12px 12px 0;
  width: 32px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}

.rows__strelka-left {
  left: 0;
  top: 90px;
}

.rows__strelka-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  top: 90px;
}

.rows__strelka-right img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rows::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 88px;
  height: 227px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

.rows::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 88px;
  height: 227px;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(right, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

.rows__comment {
  min-width: 369px;
  height: 198px;
  padding: 24px 32px 0;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
}

.rows__text {
  font-weight: 500;
  font-size: 0.939rem;
  line-height: 22px;
  text-align: center;
  margin-bottom: 24px;
}

.rows__NameandSurname {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  text-align: center;
  margin-bottom: 16px;
}

.rows__avatarka {
  position: relative;
  left: 42%;
}

.NoBox {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.block-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-blog__item1 {
  width: 469px;
  height: 400px;
  border-radius: 12px;
  background: url("../img/Rectangle36.png") no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.block-blog__item2 {
  width: 269px;
}

.block-blog__item3 {
  width: 369px;
}

.block-blog__tips_before {
  display: inline;
  padding: 0 8px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  font-weight: 600;
  font-size: 0.857em;
  line-height: 18px;
}

.block-blog__tips_before-absolute {
  position: absolute;
  top: 24px;
  left: 24px;
}

.block-blog__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  margin: 8px 0 16px;
}

.block-blog__title_white {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFF;
  padding-left: 24px;
}

.block-blog__user {
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 0.857em;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.block-blog__user_white {
  color: #FFF;
  padding: 8px 24px 24px;
}

.block-blog__ava {
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-blog__label {
  margin-right: 8px;
}

.block-blog__img {
  border-radius: 12px;
  width: 269px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 24px;
}

.item3__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
  margin-bottom: 32px;
}

.item3__title {
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 22px;
  color: #151515;
  margin: 8px 34px 16px 0;
}

.item3__img {
  display: block;
  min-width: 96px;
  min-height: 96px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* adaptive-main----------------------------------- */

/* footer------------------------------------------ */

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 64px;
  margin-bottom: 48px;
}

.footer__tags {
  margin-bottom: 32px;
}

.footer__copyright {
  padding-bottom: 64px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__item:not(:first-child, :last-child) {
  margin: 0 15px;
}

.footer__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  color: #151515;
}

.footer__text {
  display: inline-block;
  padding: 4px 10px;
  background: #F5F5F5;
  border-radius: 12px;
  margin: 0 16px 16px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.footer__text_green {
  margin-bottom: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

@media (max-width: 1215px) {
  [class*=__container] {
    max-width: 970px;
  }

  .nav__container {
    padding: 0px 10px;
  }

  .nav__item {
    margin: 10px 10px;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__blocks_product {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .product {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }

  .main__block-blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__block-blog > div {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  [class*=__container] {
    max-width: 750px;
  }

  .nav__container {
    padding: 6px 10px;
  }

  .header__container {
    position: relative;
  }

  .header__content_absol {
    position: absolute;
    -webkit-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 350px;
    background: #ffffff;
    border-bottom: 1px solid #D1D1D1;
    z-index: 50;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .header__burger > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger__active {
    top: 50px;
  }

  .body__active {
    overflow: hidden;
  }

  .header__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding-top: 15px;
    border: none;
    border-top: 1px solid rgba(21, 21, 21, 0.05);
  }

  .header__contact {
    gap: 4vw;
  }

  .header__link {
    gap: 11.8vw;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin: 25px 0;
  }

  .product {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1;
            flex: 0 1;
  }

  .product_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-blog__item1 {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  [class*=__container] {
    max-width: 450px;
  }

  .header__input-body {
    display: block;
    width: 100%;
  }

  .header__search {
    width: 80%;
  }

  .header__search-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    background: url(../img/down.svg) no-repeat 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #D1D1D1;
  }

  .header__search-input {
    padding: 0;
    width: 89%;
    border: none;
  }

  .header__search-img {
    float: right;
  }

  .main__container {
    padding: 0 10px !important;
  }

  .product {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }

  .main__blocks_product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-blog {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 479px) {
  [class*=__container] {
    max-width: 100vw;
  }

  .nav__select {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .main__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .banner__item {
    width: 100%;
  }

  .footer__container {
    padding: 0 10px;
  }
}

.webp .banner__item{ background: url("../img/Rectangle 26.png"); }

.webp .block-blog__item1{ background: url(../img/Rectangle36.webp) no-repeat center; }